
    <style>
      .holder {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      code {
        font-size: 9px !important;
        overflow-x: scroll;
      }
      .all_page{
        background: url('https://i.postimg.cc/j29nhLfw/cover.jpg');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          background-color: #fff;
      }
      .create-project{
        padding: 65px 0px 65px;
        background: #fff;
      }
      .panel.panel-default.col-sm-12{
        box-shadow: 10px 8px 30px 5px #ddd;
        padding: 10px;
      }
    </style>
    <div class="all_page">
    <div class="container">
    <div class="create-project">
        <div class="panel panel-default col-sm-12">
            <div class="panel-body">
                <!--Create a form that POSTs to the `/project/create` route-->
                <form class="form" action="/project/create" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="Project Title">
                </div>
                <div class="form-group">
                    <label for="owner">Owner email address</label>
                    <input type="text" class="form-control" id="owner" name="owner" placeholder="owner@unicorn.com">
                </div>
                <div class="form-group">
                    <label for="content">Content</label>
                    <textarea name="content" class="form-control" rows="10" id="content" placeholder="Describe your project idea"></textarea>
                </div>
                <div class="form-group">
                    <label for="file">Select a Photo</label>
                    <input type="file" name="file" id="file" accept="image/*"/>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>      
    </div>
