<!--footer.html-->
<style>
  *{
    margin: 0;
    padding: 0;
  }
  .myDiv {
    text-align: center;
  }
  #footer{
    background-color: #dddddd61;
    padding: 20px;
  }
  #footer ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  #footer .upper-icons{
    float: right;
  }
  #footer .upper-icons li{
    float: left;
    margin-left: 5px;
    cursor: pointer;
  }
 #footer .upper-icons li a {
    padding: 5px 5px;
    font-size: 30px;
    }
  #footer .upper-icons li a:nth-child(1){
    background-color: #55acee;
    border: 1px solid transparent;
    transition: all .6s ease-in-out;
    color: #fff;  
  }
  #footer .upper-icons li a:nth-child(1):hover{
    color: #55acee;
    border: 1px solid #55acee;
    border-radius: 50%;
    background-color: transparent;
  }
  #footer .upper-icons li a:nth-child(2){
    background-color: #211F1F;
    border: 1px solid transparent;
    transition: all .6s ease-in-out;
    color: #fff;
  }
  #footer .upper-icons li a:nth-child(2):hover{
    color: #211F1F;
    border: 1px solid #211F1F;
    border-radius: 50%;
    background-color: transparent;
  }
  .footer-list .list-items{
    float: left;
  }
  .inner-footer a{
    color: #005dff87;
    text-decoration: none;
    transition: ease-in-out .2s;
  }
  .inner-footer a:hover{
    color: #005dff;
  }
  .footer-img {
    /* display: flex; */
    float: left;
}
.footer-cont {
    clear: both;
}
  </style>

    <footer id="footer">
        <div class="container">
            <div class="row-fluid content-row">
                <div class="inner-footer">
                    <div class="upper-footer">
                        <div class="footer-img">
                        <a href="/"><img src="https://i.postimg.cc/BbRqXDW6/output-onlinepngtools.png" alt="Unicorn Pursui" width="55px"></a>   
                        </div>
                        <ul class="upper-icons">
                        <li class="upper-list-items"><a href="https://twitter.com/MatJovanovic"><i class="fab fa-twitter"></i></a></li>
                        <li class="upper-list-items"><a href=https://github.com/mateja82/unicorn><i class="fab fa-github"></i></a></li>
                        </ul>
                    </div>
                    <div class="footer-cont">
                    <ul class="footer-list">
                        <hr>
                        <li class="list-items"><p> Design and Implementation 2020 by MatsCloud.COM, All Rights Reserved. | <a href="https://www.matscloud.com/docs/unicorn-project/workshop/">Check out our Cloud Workshop!</a></p></li>
                    </ul>
                    <br>
                    <div class="footer-spacer"></div>   
                    </div> 
                </div>  
            </div>
        </div>        
    </footer>  
    <script
src="https://code.jquery.com/jquery-3.1.1.min.js"
integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
crossorigin="anonymous"
></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>  
</body>
</html>
