<style>
  *{
    margin: 0em;
    padding: 0;
    font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  }
  .all_page{
    background: url('https://i.postimg.cc/j29nhLfw/cover.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    padding: 11.5rem 0;
  }

.center{
  display: flex;
  justify-content: center;
  text-align: center;
  width: 40%;
  margin: 0 auto;
  background: #fff;
  
}
.property-card
{
  height:18em;
  width:35em;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
}
.property-description{
  padding: 40px;
}
.property-description .link{
  padding:20px;
}
.property-description .link a{
  text-decoration: none;
  color: #00000075;
  transition: ease-in-out .2s;
}
.property-description .link a:hover{
  color:#000
}
</style>
<div class="all_page">
  <div class="cover-block">
    <div class="center">
      <div class="property-card">
        <a href="#">
          <div class="property-image">
            <div class="property-image-title">
              
            </div>
          </div>
        </a>
        <div class="property-description">
          <h2> Congratulations </h2>
          <p>You have successfully logged in.</p>
          <p class="link"><a href="/">Click here to check out the submitted projects ideas.</a></p>
        </div>
      </div>
    </div> 
    <!-- cover block -->
  </div>
  <!-- all_page -->
</div>
