<!--menu.html-->

    <!--Embed the menu.html template at this location-->
    <nav class="navbar navbar-expand-lg align-content-center navbar-light bg-color">
			<div class="container">
			  <a class="navbar-brand" href="/">
          <div class="logo-header">
            <img src="https://i.postimg.cc/BbRqXDW6/output-onlinepngtools.png" alt="Unicorn Home">
          </div>
        </a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
					</button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
            {{ if .is_logged_in }}
            <!--Display this link only when the user is logged in-->
            <a class="nav-link" href="/project/create">New project <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            {{end}} 
            {{ if not .is_logged_in }}
              <!--Display this link only when the user is not logged in-->
            <a class="nav-link" href="/u/register">Register</a>
          </li>
          <li class="nav-item">
            {{end}} 
            {{ if not .is_logged_in }}
              <!--Display this link only when the user is not logged in-->
            <a class="nav-link" href="/u/login">Login</a>
          </li>
          <li class="nav-item">
            {{end}} 
            {{ if .is_logged_in }}
              <!--Display this link only when the user is logged in-->
            <a class="nav-link" href="/g/leaderboard" tabindex="-1" aria-disabled="true">Leaderboard</a>
          </li>
          <li class="nav-item">
            {{end}} 
            {{ if .is_logged_in }}
            <!--Display this link only when the user is logged in-->
          <a class="nav-link" href="/project/votes" tabindex="-1" aria-disabled="true">My Votes</a>
        </li>
        {{end}} 
        <li class="nav-item">
            <!--Display always-->
          <a class="nav-link" href="/g/about" tabindex="-1" aria-disabled="true">About Unicorn</a>
        </li>
        <li class="nav-item">
          {{ if .is_logged_in }}
            <!--Display this link only when the user is logged in-->
          <a class="nav-link" href="/u/logout" tabindex="-1" aria-disabled="true">Logout</a>
        </li >
        {{end}}
      </ul>
    </div>
  </div>
</nav>
