attrs==19.3.0
aws-cdk.assets==1.36.0
aws-cdk.aws-applicationautoscaling==1.36.0
aws-cdk.aws-autoscaling-common==1.36.0
aws-cdk.aws-cloudformation==1.36.0
aws-cdk.aws-cloudwatch==1.36.0
aws-cdk.aws-dynamodb==1.36.0
aws-cdk.aws-ec2==1.36.0
aws-cdk.aws-events==1.36.0
aws-cdk.aws-iam==1.36.0
aws-cdk.aws-kms==1.36.0
aws-cdk.aws-lambda==1.36.0
aws-cdk.aws-logs==1.36.0
aws-cdk.aws-s3==1.36.0
aws-cdk.aws-s3-assets==1.36.0
aws-cdk.aws-sns==1.36.0
aws-cdk.aws-sqs==1.36.0
aws-cdk.aws-ssm==1.36.0
aws-cdk.cloud-assembly-schema==1.36.0
aws-cdk.core==1.36.0
aws-cdk.custom-resources==1.36.0
aws-cdk.cx-api==1.36.0
aws-cdk.region-info==1.36.0
cattrs==1.0.0
constructs==3.0.2
-e git+https://github.com/mateja82/unicorn@118c6f0f27a79ccf66e9cf452c9a70146ae80b44#egg=iac&subdirectory=iac
jsii==1.4.1
publication==0.0.3
python-dateutil==2.8.1
six==1.14.0
typing-extensions==3.7.4.2
